In [1]:
import pandas as pd

In [22]:
import matplotlib.pyplot as plt

In [3]:
stats = pd.read_csv('csv/sample.csv')

In [9]:
stats

   Name Team  Runs  Balls  Not Out
0     A  Ind    54     80        0
1     B  Aus    63     25        0
2     C  Ind    95     96        0
3     D  Eng    12     20        0
4     E  Ind     3      8        0
5     F  Eng     6      2        1
6     G  Eng    45     50        1
7     H  Eng    89    101        0
8     I  Aus    25     40        0
9     J  Ind    36     18        0
10    K  Ind    11     23        0
11    L  Aus    44     20        1
12    M  Aus    56     80        1
13    N  Eng    78     54        0
14    O  Eng    16     25        1
15    P  Aus    27     30        1
16    Q  Aus     2      9        0
17    R  Aus    56     26        0
18    S  Eng   100     95        0
19    T  Aus   152    120        0
20    U  Aus    48     46        0
21    V  Eng    36     52        0
22    W  Ind    98     99        0
23    X  Ind   183    126        1
24    Y  Eng    23     26        0
25    Z  Eng    45     66        0

In [4]:
fifty = stats[stats.Runs > 50]

In [17]:
plt.scatter(stats.Runs , stats.Balls)

In [1]:
plt.show()

NameError: name 'plt' is not defined